

body {
 background-color:#0A1612;  
 font-family: 'Asap', sans-serif;
 color:white;
  margin:0 auto;
 padding:0;
    
}

section {
    
    
}
.topParalax {
	
	background-image:url(images/94896306-E830-4E1B-8293-13AE5EE7DF57.JPG);
   
    
}

.middleParalax {
	
	background-image:url(images/Ola_glowne.jpg);
}

.bottomParalax {
	
	
	background-image:url(images/kciuki.jpg);
}

.footerParalax {
    
    background-image: url(images/pad.jpg)
}

.topParalax, .middleParalax, .bottomParalax, .footerParalax{
	
	
    height: 25em;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
  
}




.home {
   
  height:100vh;
   background-image: url(images/Rafal_glowne.jpg); 
    background-position:center right;
    background-repeat: no-repeat;
    background-size: cover;
  
   
}

.home::after {
    content: "";
    background-color:#0A1612;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    
    z-index: 10; }

.home nav {
    
    width:100%;
    height:3em;
  
    position:fixed;
    top:0;
    
    z-index:20;
    
    
}

nav ul {
    width:100%;
    height:4em;
     background-color:#0A1612;
    display:flex;
    flex-direction: row;
    align-content:center;
    justify-content:center;
    padding:1em;
    padding-bottom:0;
    padding-top:0;
    margin-top:0;
  
    
}

 .logoWca {
    
    height:70px; 
    background-color:white;
    border-radius:48%;
    padding:3px;
    
    
}

.logoLink {
    
    margin-right:3%;
}

nav ul li  {
    
    height:0.85em;
    width:6.8em;
    
    
   
    margin:1em;
    margin-top:0.5em;
    text-align:center;
    padding:0.8em;
    text-transform:uppercase;
    
    list-style-type: none;
     z-index:30;   

}

nav ul li:hover {
    border:1px solid white;
    
}

nav ul li a {
    
     
    text-decoration:none;
    color:white;
    
}

.invite {
    position:absolute;
    width:40%;
    padding:1em;
    margin-top:8%;
    margin-left:45%;
    float:left;
    font-family: 'Gentium Book Basic', serif;
    z-index:20;
}
.invite h1 {
    
    color:#F7CE3E;
    font-size:2.5rem;
    text-align:center;
    width:100%;
    text-transform:uppercase;
    
}

.invite h3 {
    font-size:1.5rem;
    color:#c5c1c0;
    width:100%;
    text-align:center;
    
}



.classes {
    
    
    height:60%;
    width:100%;
    text-align:center;
    margin-top:4em;
     
   
}

.classes h4{
     color:#F7CE3E;
    font-size:2rem;
    margin:0;
}


.classes p {
    color:#c5c1c0;
    margin:0;
    font-size:1.8rem;
    line-height: 1.5;
   
    
}
.youngest {
    
    padding-top:1em;
}
.home .logoK {
    margin-left:90%;
   
    
    
}






.aikido, .white {
	height:80vh; 
	display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing:border-box;
    color:white;
    
}
.white {
   
   background-color:#FFFFFF;
    color:#0A1612;
    
}

.about {
    
    width:33%;
    display:flex;
    flex-direction:column;
  
    margin:1em;
    padding:1em;
    line-height: 1.5;
  
}

.about.dark {
}


 b {
     color:#F7CE3E;;
}

.about.bright {
    }

.about h3 {
    
    font-size:1.8rem;
    text-align: left;
    text-transform: uppercase;
}

.about p {
    font-size:1.2rem;
    
}

.kanji {
    position:absolute;
    margin-left:-42%;
    margin-top:10%;
   
    
    
    
}

.instructors {
	
	height:100vh; 
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    
  
    
   
   
   
}



.box {
    
    display:flex;
    flex-direction:column;
     width:40%;
     height:80%;
     align-items:center;
    
     
}

.box h3 {
    font-size:1.4rem;
    text-transform: uppercase;
      
    
}
.box p {
    text-align: center;
    font-size:1.1rem;
   
    
}
.instructors .box .us {
    
    width:90%;
    
    
    
}






.photos {
    
    display:flex; 
    height:80vh;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    
    margin:2em;
    position:relative;
    
}

.group {
	display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    
     
}

.cover {
    
    width:20em;
    height:18em;
 
   
    background-size: cover;
    background-position:center;
    cursor:pointer;
   
    
              
}

.cover.one {
    
    background-image: url(images/dzieci/seiza.jpg);
}
.cover.two {
    background-image: url(images/senoundo.jpg);
}
.cover.three {
    background-image: url(images/leman_ekipaPruszkow_poziom.JPG);
}

.cover h3 {
    
   
    font-size:2em;
    margin-top:-2em;
    text-align:left;
    text-transform:uppercase;
    
}


.photos img {
  width:23em;
  height:12em;
  margin:2em;
 
  cursor: pointer;

}



.hidden {
    display:none;
    
}
.big {
    
    border:5px solid black;
    z-index:10;
    position:absolute;
     top:10vh;
    left:10vh;
    cursor:pointer;
    width:80vw;
    
    -webkit-transform: translate(45em,10em) scale(4.2,4.2)  
    
    
    
}

.close {
    
    width:100%;
    color:white;
    cursor:pointer;
    height:1em;
    font-size:2em;
    padding:0.7em;
    text-transform:uppercase;
    text-align:center;
}


.contact {
    padding:5em;
    
    height:50vh;
   
    color:white;
    font-size:28px;
}

@media all  and (max-width:1350px) {
    
    .home {
        
        height:100vh;
    }
    .invite h1 {
        font-size:2rem;
    }
    .invite h3 {
        font-size:1.3rem;
    }
    .classes {
        margin-top:2em;
        font-size:0.8rem;
    }
    .aikido  {
        
        height:70vh;
    }
    
    .white {
        
        height:120vh;
    }
    
    .about {
        width:40%;
        padding:2em;
    }
    .kanji {
        display:none;
    }
    
    .instructors {
        height:200vh;
        flex-direction: column;       
        

    }
     .box {
        width:60%;
        height:40%
    }
    .photos {
        height:200vh;
    }
    .contact {
        height:80vh;
    }
}

@media all and (max-width:1100px) {
    
    .home {
        
        height:100vh;
    }
    .aikido  {
        
        height:100vh;
    }
    
    .white {
        
        height:150vh;
    }
    
    .instructors {
        height:200vh;
     
        
    }
    
    .box {
        width:80%;
        height:40%
    }
    .photos {
        height:200vh;
        flex-direction:column;
    }
    
    .contact {
        height:100vh;
    }
}



